{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    <h2>Login</h2>
    
    <form action="{$url}{$lang}/login/comprobar" method="post">
        <label>{$language->translate('name')}</label><input type="text" name="name"><br>
        <label>Password</label><input type="password" name="password"><br>
        <label></label><input type="submit" value="Validar">
    </form>

 </div>
{include file="template/footer.tpl" title="footer"}