{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    <h2>Alta de Productos</h2>
    
    <form action="{$url}{$lang}/product/insert" method="post">
        <label>{$language->translate('code')}</label><input type="text" name="codigo"><br>
        <label>{$language->translate('name')}</label><input type="text" name="nombre"><br>
        <label>{$language->translate('price')}</label><input type="text" name="precio"><br>
        <label>{$language->translate('existence')}</label><input type="text" name="existencia"><br>
        <label></label><input type="submit" value="Enviar">
    </form>

 </div>
{include file="template/footer.tpl" title="footer"}